.form-container {
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    background-color: rgb(245, 243, 243);
    border: 1.5px solid grey;
    padding: 15px;
    border-radius: 15px;
}

.wide {
    width: 32rem;
}

h1 {
    font-weight: 500;
}

.button {
    text-align: center;
}

button {
    padding: 0 2rem;
    margin: 2% 7%;
}