<form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm" class="form-container">
    <h1>Login Here</h1>

    <mat-form-field appearance="outline" class="wide">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Registered email ID">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Enter valid email address</mat-error>
    </mat-form-field><br><br>

    <mat-form-field appearance="outline" class="wide">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter password">
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="password?.errors?.['pattern']">
            Password should have min 8 letters with at least a symbol, upper and lower case letters and a number
        </mat-error>
    </mat-form-field>

    <div class="button">
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
        <button mat-raised-button color="primary" routerLink="/register"><a>Register</a></button>
    </div>
    <a routerLink="/reset-password">Forgot Password</a>
</form>